<!--Top bar ribbon navigation-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <div class="logo-wrapper">
        <a href="/">
          <img src="/images/logo.png" alt="PALA Applications logo" />
        </a>
      </div>

      <button id="toggleNav" type="button" class="navbar-toggle collapsed">
        <i class="icon-menu"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="nav">
      <ul class="nav navbar-nav">
        <li><a href="/">Posts</a></li>
        <li><a href="/about-us">About us</a></li>
      </ul>

      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <input class="text-input-search" type="text" id="search-input" placeholder="search...">
          <ul class="dropdown" id="results-container"></ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--Top bar ribbon navigation end-->
